@mixin flex($direction,$justify,$align) {

    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;  
}

@mixin measures($width, $margin, $padding){
    width: $width;
    margin: $margin;
    padding: $padding;
}

@mixin reset {
    margin: 0;
    padding: 0;
    color: black;
    box-sizing: border-box;
}

@mixin media-sm {
    @media (max-width: 799px) {
        .nav-normal{
            display: none;
        }
        .nav-responsive {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            width: 100%;
            margin-left: 1em;
            list-style: none;
            margin-right: 3em;
            font-size: small;
        }
        .nav-responsive__li {
            list-style: none;
            margin-right: 1em;
            font-size: small;
        }
        .nav-r{
            display: flex;
            margin-inline: 1em;
        }
        .imagenes{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 1em;
            max-width: 100%;
            max-height: auto;
        }
        .top{
            display: flex;
            flex-direction: column;
            justify-content:space-between;
            margin: 20px;
            text-align: center;
            font-size: large;
        }
        
        .bottom{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            margin: 30px;
            text-align: center;
            font-size: large;
        }
    
        .mapa{
            width: 300px;
            height: auto;
        }
    
        .grid-layout{
            display: grid;
            grid-template-areas: 
            'gal3 gal3'
            'gal8 gal8'
            'gal1 gal2'
            'gal1 gal2'
            'gal12 gal12'
            'gal11 gal11'
            'gal4 gal9'
            'gal4 gal9';
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: auto;
            flex: 100%;
            max-width: 100%;
            height: auto;
            margin: 1em;
            justify-content: center;
          
        }

        .nombre, .telefono, .correo, .comentarios {
            display: flex;
            flex-direction: column;
            justify-content: left;
            align-items: none;
            width: 50%;
    
    }   
}

@mixin media-md {
    @media (max-width: 1199px) and (min-width:800px){
        .nav-normal{
            display: none;
        }
        .nav-responsive {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            width: 100%;
            margin-left: 5em;
            list-style: none;
            margin-right: 3em;
            font-size: medium;
            position: relative;
        }
        .nav-responsive__li {
            list-style: none;
            margin-right: 3em;
            font-size: medium;
        }
        .nav-r{
            display: flex;
            margin-inline: 1em;
        }
        .imagenes{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 1em;
            max-width: 100%;
            max-height: auto;
        }
        .top{
            display: flex;
            flex-direction: column;
            justify-content:space-between;
            margin: 1em;
            text-align: center;
            font-size: large;
        }
        
        .bottom{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            margin: 30px;
            text-align: center;
            font-size: large;
        }
        .grid-layout{
            display: grid;
            grid-template-areas: 
                'gal1 gal3 gal3 gal2'
                'gal1 gal8 gal8 gal2'
                'gal4 gal9 gal12 gal12'
                'gal4 gal9 gal11 gal11';
            grid-template-columns: repeat(4,1fr);
            grid-template-rows: 200px 200px 200px 200px;
            max-width: 100%;
            height: auto;
            margin: 1em;
            justify-content: center;
        }
    }  
}

@mixin media-lg {
    @media (min-width: 1200px){
    
        .nav-responsive {
            display: none;
        }
    }    
}