* {
    margin: 0;
    padding: 0;
    color: black;
    box-sizing: border-box;
}

/* el overflow elimina el scroll horizontal*/
body{
    background-color: #f4f4f4;
    font-family: 'M PLUS 1';
    overflow-x: hidden;
    height: 100vh;
}

a{
    text-decoration: none;
    color: #000;
}

a:hover{
    color: red;
}

i:hover{
    color: red;
}

header{
    
 
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(103,191,148,1) 53%, rgba(253,187,45,1) 100%);
    width: 100%;
    padding-top: 2em;
    padding-bottom: 0;
    position:sticky;
    top: 0;
    z-index: 9999;
    display: flex;
    flex-direction: row; 
    height: 10%;
}


.nav-normal {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-left: 10em;
}

.nav-normal__menu{
    list-style: none;
    margin-right: 3em;
    font-size: medium;
}

.nav-li{
    display: flex;
    margin-inline: 1em;
}

header div{
    display: flex;
    flex-direction: row;
    margin: 0.2em;  
}

header div div{
    margin-top: -30px;
}

.logo{
padding: 0.5em;
margin: 1em;
}

.presentacion{
    margin: 10em;
    margin-top: 0;
}

/*imagenes del index*/
.imagenes{
    display: flex;
    justify-content: center;
    margin: 3em;
}

.borde-imagenes{
    padding: 1em;
    border-color: black;
    border: 0.5em solid darkseagreen;
    margin: 1em;
    box-shadow: 0.5em 0.5em 0.2em 0.2em;
}

.i-underline { 
    text-decoration: underline; 
}

/*actividades*/

.tituloAct{
    padding: 1em;
    margin: 1em;
    text-align: center;
}

.masInfo{
    padding: 1em;
    margin: 1em;
    text-align: center;
}

.top{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 4em;
    text-align: center;
    font-size: x-large;

}

.bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 2em;
    text-align: center;
    font-size: x-large;
}

/*Galeria*/

.grid-layout{
    display: grid;
    grid-template-areas: 
        'gal1 gal3 gal3 gal2'
        'gal1 gal8 gal8 gal2'
        'gal4 gal9 gal12 gal12'
        'gal4 gal9 gal11 gal11';
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 200px 200px 200px 200px;
    width: 800px;
    height: 800px;
    margin: 2em 15em;
    justify-content: center;
}


.gal1{
    grid-area: gal1;   
}

.gal2{
    grid-area: gal2;
   }

.gal3{
    grid-area: gal3;
   }

.gal4{
    grid-area: gal4;
}

.gal8{
    grid-area: gal8;
}

.gal9{
    grid-area: gal9;
}

.gal11{
    grid-area: gal11;
}

.gal12{
    grid-area: gal12;
}

/*SobreNosotros*/

.grid-nosotros{
    display: grid;
    grid-template-areas: 
        'nos2 nos2'
        'nos1 nos3'
        'nos1 nos3'
        'nos4 nos4';
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 100px 100px 100px 100px;
    width: 200px;
    height: 600px;
    margin: 3em 2em;
}


.nos1{
    grid-area: nos1;
}

.nos2{
    grid-area: nos2;
}

.nos3{
    grid-area: nos3;
}

.nos4{
    grid-area: nos4;
}


.titulo-historia{
    margin: 1em;
}

.texto-historia{
    margin: 1em 2em;
}

.nuestros-profes{
    margin: 1em;
}

.profes{
    display: flex;
    flex-direction: row;
    margin-top: 1em;
}

.texto-profes{
    margin-top: 12em;
    width: 70%;
}

/*form*/

input{
    display: block;
}

input[type=text] {
    padding: 1em;
    margin: 1em 3em;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius:10px;
}

input[type=tel] {
    padding: 1em;
    margin: 1em 3em;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius:10px;
} 

input[type=email] {
    padding: 1em;
    margin: 1em 3em;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius:10px;
}

label{
    margin: 1em 3em;
}

.titulo-form{
    margin-right: 3em;
    align-items: center;
}

.dudas{
    margin: 2em;
    padding: 1em;
    font-size: large;
}

.nombre{
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 30%;
}

.telefono{
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 30%;
}

.correo{
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 30%;
}

.comentarios{
    display: flex;
    flex-direction: column;
    justify-content: left    
}

textarea {
    border-radius: 10px;
    width: 30%;
    margin: 1em 3em;
    padding: 1em;
}

.botones-formulario{
    display: inline;
    width: 80px;
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(103,191,148,1) 53%, rgba(253,187,45,1) 100%);
    color: white;
    border-radius: 10px;
    margin-left: 3em;
}

.mapa{
    margin: 3em;
}

footer{
    
    background-color: darkseagreen;
    padding: 1.8em;
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
}

footer div{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.fa {
    padding: 1em;
    font-size: 1em;
    width: 3em;
    text-align: center;
    text-decoration: none;  
    margin-right: 4em; 
}
  
.fa-facebook {  
    background: #3B5998;  
    color: white;
    transition: transform 3s, color 3s;  
}  

.fa-instagram {  
    background: hwb(22 5% 21%);  
    color: white;
    transition: transform 3s, color 3s;  
}

.fa-twitter {  
    background: rgb(13, 151, 201);  
    color: white;
    transition: transform 3s, color 3s;  
}

/* responsive */

@media (max-width: 799px) {
    .nav-normal{
        display: none;
    }
    .nav-responsive {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        margin-left: 1em;
        list-style: none;
        margin-right: 3em;
        font-size: small;
    }
    .nav-responsive__li {
        list-style: none;
        margin-right: 1em;
        font-size: small;
    }
    .nav-r{
        display: flex;
        margin-inline: 1em;
    }
    .imagenes{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1em;
        max-width: 100%;
        max-height: auto;
    }
    .top{
        display: flex;
        flex-direction: column;
        justify-content:space-between
        margin: 20px;
        text-align: center;
        font-size: large;
    }
    
    .bottom{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 30px;
        text-align: center;
        font-size: large;
    }

}

@media (max-width: 1199px) and (min-width:800px){
    .nav-normal{
        display: none;
    }
    .nav-responsive {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        margin-left: 5em;
        list-style: none;
        margin-right: 3em;
        font-size: medium;
        position: relative;
    }
    .nav-responsive__li {
        list-style: none;
        margin-right: 3em;
        font-size: medium;
    }
    .nav-r{
        display: flex;
        margin-inline: 1em;
    }
    .imagenes{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1em;
        max-width: 100%;
        max-height: auto;
    }
    .top{
        display: flex;
        flex-direction: column;
        justify-content:space-between
        margin: 20px;
        text-align: center;
        font-size: large;
    }
    
    .bottom{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 30px;
        text-align: center;
        font-size: large;
    }
    .grid-layout{
        display: grid;
        grid-template-areas: 
            'gal1 gal3 gal3 gal2'
            'gal1 gal8 gal8 gal2'
            'gal4 gal9 gal12 gal12'
            'gal4 gal9 gal11 gal11';
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: 200px 200px 200px 200px;
        max-width: 100%;
        height: auto;
        margin: 1em;
        justify-content: center;
    }
}

@media (min-width: 1200px){
    
    .nav-responsive {
        display: none;
    }
}

 