@import "./_utilities/variables";
@import "./_utilities/mixins";
@import "./_base/reset";
@import "./_layout/header";
@import "./_layout/main-index";
@import "./_layout/main-actividades";
@import "./_layout/main-galeria";
@import "./_layout/main-nosotros";
@import "./_layout/main-contacto";
@import "./_layout/footer";
@import "./_layout/media";

body{
    background-color: #f4f4f4;
    overflow-x: hidden;
    height: 100vh;
}








