footer{
    @include measures (100%, none, 1.8em);
    background-color: darkseagreen;
    bottom: 0%;
    height: 10%;
    display: flex;
    flex-direction: row;
    div{
        @include flex( row, center, center);
        width: 100%;
        }
    }

.fa {
    @include measures (3em, none, 1em);
    font-size: 1em;
    text-align: center;
    text-decoration: none;  
    margin-right: 4em; 
    color: white;
    transition: transform 3s, color 3s;
    }
  
.fa-facebook {  
    background: #3B5998;      
    }  

.fa-instagram {  
    background: hwb(22 5% 21%); 
    }

.fa-twitter {  
    background: rgb(13, 151, 201);  
    }
