input{
    display: block;
    }

input[type=text] {
    @include measures (80%, 1em 3em, 1em);
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius:10px;
    }

input[type=tel] {
    @include measures (80%, 1em 3em, 1em);
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius:10px;
    }

input[type=email] {
    @include measures (80%, 1em 3em, 1em);
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius:10px;
    }

label{
    margin: 1em 3em;
    }

.titulo-form{
    margin-left: 4em;
    align-items: center;
    justify-content: center;
    }

.dudas{
    @include measures (none, 2em, 1em);
    font-size: large;
    align-items: center;
    }

.nombre{
    @include flex (column, center, center);
    margin-left: 3em;
    width: 30%;
    }

.telefono{
    @extend .nombre;
    }

.correo{
    @extend .nombre;
    }

.comentarios{
    @include flex (column, left, none);
    width: 100%;
    }

textarea {
    @include measures (30%, 1em 3em, 1em);
    border-radius: 10px;
    }

.botones-formulario{
    display: inline;
    width: 80px;
    background: darkseagreen;
    color: white;
    border-radius: 10px;
    margin-left: 3em;
    }

.mapa{
    margin: 3em;
    }
